{% extends "base.html" %}

{% block title %}   
    {{title|title}}
{% endblock title %}

{% block content %}
    <h1>Welcome!</h1>
    <ul>
        {% for data  in features  %}
            <li>{{data}}</li>
        {% endfor %}
    </ul>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda asperiores quibusdam velit error quos, ipsa rerum dicta alias blanditiis inventore ducimus, tenetur aut animi. Nobis voluptatibus dolorum totam qui ab.</p>
{% endblock content %}